*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  font:1rem/1.5 Arial, Helvetica, sans-serif;
  background-color:#222930;
}
/*****MAIN NAV MENU*****/
nav{
  background: #222930;
  border-bottom: .1em solid #4eb1ba;
  position: sticky;
  top: 0;
}
nav:after{ /*BRINGS BACKGROUND COLOR AFTER THE NAVBAR*/
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  float: left; /*POSITION LOGO ON LEFT*/
  color: white;
  font-size: 2.5em;
  font-weight: 600;
  padding-left: 3.75em;
  text-decoration:none;
}
nav ul{
  float: right; /*FLOAT NAV TO THE RIGHT HAND SIDE OF SCREEN */
  margin-right: 2.5em;
  list-style: none;
  position: relative;
}
nav ul li{
  float: left;
  background: #222930;
  margin: 0 5px;
  z-index: 7;
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 0.5em 0.9em;
}
nav ul li a:hover, a:focus{
  color:#4eb1ba; /*CHANGES COLOR WHEN HOVERED OVER*/
  border-radius: 0.3em;
  box-shadow:  0 0 5px #33ffff,
               0 0 10px #66ffff;
}
nav ul ul li a:hover, a:focus{
  box-shadow: none;
}
nav ul ul{
  position: absolute;
  border-top: 0.1em solid cyan; /*BORDER ON TOP OF DROPDOWN*/
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav ul ul ul{
  border-top: none;
}
nav ul li:hover > ul, li:focus > ul{
  top:2em;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  position: relative;
  margin: 0;
  width: 9.3em;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
  line-height: 3.12em;
}
nav ul ul ul li{
  position: relative;
  top: -3.75em;
  left: 9.3em;
}
#btn-1,#btn-2,#btn,.show,.icon{
  display: none; /*NO SHOW BTNS*/
}
nav .current{
  color:#4eb1ba; /*INDICATES THE CURRENT PAGE OF THE USER*/
}






/******HOME PAGE PROFILE CARD*****/
.box_container{
  text-align: center;
}
.box{
  display: inline-block;
}
.box img {
  width: 55%; /*SIZE OF THE IMAGE*/
  height: 55%;
  border-radius: 50%; /*SQUARE TO CIRCLE*/
}
.box_container .box{
  width: 30%; /*SIZE OF BOX*/
  height: auto;
  background: #222930;
  margin: 1.25em;
  padding: 1.2em;
  box-shadow: 0px 20px 25px #000;
  border-radius: 2em;
  animation: float 5s ease-in-out infinite;
}
.content{
  color:#fff;
}
.box h1{
  font-size: 35px;
  margin: 0;
  padding: 0;
}
.box h2{
  margin:0;
  padding: 0;
}
.box p{
  margin: 0;
  padding: 0;
}
.content a {
  display: inline-block;
  padding: 0.62em 1.25em; /*SIZE OF REPORT AND PROFILE HREF*/
  text-transform: uppercase;
  font-weight:500;
  color:#fff;
  background: #4eb1ba;
  border-radius: 2em;
  margin:1.7em;
  text-decoration: none;
  box-shadow: 0 2px 5px #000;
}
/*STYLING FOR SOCIAL MEDIA LINKS ON CARD*/
.content .fa-linkedin{
  background: none;
  color:#fff;
  box-shadow: none;
  margin: 0;
}
.content .fa-twitter{
  background: none;
  color:#fff;
  box-shadow: none;
  margin: 0;
}
.content .fa-paper-plane{
  background: none;
  color:#fff;
  box-shadow: none;
  margin: 0;
}






/*********ABOUT ME************/
.section_container{
  padding-bottom: 2em;
  padding-right: 2em;
  padding-left: 2em;
}
#about_me{
  background: #4eb1ba;
  color: #000;
  position: relative;
}
#about_content{
  margin: 2em;
}
#about_content h1{
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  padding-top:0.62em;
}
#about_content h2{
  letter-spacing: 4px;
  padding-bottom: .31em;
  font-size: 30px;
  margin: 0;
}
#about_content h3{
  font-size: 18px;
  margin:0;
}
#about_content img{
  width:35%; /*SIZE OF IMAGE*/
  height: auto;
  border-radius: 50%;
  float:right; /*POSITION OF IMAGE*/
  box-shadow: 0px 10px 10px #000;
}
#about_content .bnt_download{
  text-decoration: none;
  color: #fff;
  background-color: #222930;
  padding: 1.25em 1.37em; /*THCIKNESS OF DOWNLOAD BNT*/
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0px 5px 5px #000;
  display: inline-block;
}





/******SKILLS******/
.skills_section h1 { /*title for the section*/
 color:#fff;
 text-align: center;
 letter-spacing: 4px;
 text-transform: uppercase;
 font-size: 32px;
 font-weight: 700;
 margin: 0;
 padding-top:.62em;
}
.skillName{
  display: flex;
}
.skills_section{
  margin: auto;
  padding-top:0;
  padding-left: 8em;
  padding-right: 8em;
  padding-bottom: 3em;
  font-size: 1.5rem;
}
.skillName{
  margin: .75rem 0 .1rem .75rem;
  color: #fff;
  font-weight: bolder;
}
.skill_container{
  background-color: #fff;
  border-radius: 1rem;
  height: 1.7em; /*THICKNESS OF THE WHOLE SKILL BAR*/
}
.skill{
  background:linear-gradient(90deg, #dd4c3c 0%, #6f0000 100%); /*COLOR OF THE SKILL BAR*/
  height: 100%;
  font-size: 1.25rem;
  color: #000;
  border-radius: 1rem;
}
span{
  margin: auto;
  padding-left: 1em;
  color:#fff; /*COLOR OF THE PERCENTAGE NUMBER*/
  font-size: 1rem;
}
.s1{
  width: 55%;
}
.s2 {
  width: 55%;
}
.s3{
  width: 45%;
}
.s4{
  width: 40%;
}
.load{
  animation: loading 1s linear; /*ANIMATION OF THE SKILL BAR LOADING COLOR*/
}






/*****ACHIEVEMENTS SECTION ******/
.achieve{
  color:#000;
  text-align: center;
}
.achieve h1{
  color:#fff;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  padding-top:10px;
}
.achievebtns{
  display: flex;
}
.button {
  background: none;
  padding: 1em 2em;
  color:none;
  border: 0;
  border-radius: 0.3em;
  cursor: pointer;
  outline: none;
}
.modal,.modal2,.modal3,.modal4{ 
  display: none; /*NO DISPLAY FOR THE BUTTONS AS THEY ARE IMAGES*/
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  margin: 10% auto;
  width: 60%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
  text-align:left;
}
.modal-header h2 {
  margin: 0;
}
.modal-header {
  background:#ab1a0a;
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.modal-body {
  padding: .62em 1.25em;
  background: #fff;
}
.close,.close2,.close3,.close4 {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}
.close:hover,.close2:hover,.close3:hover, .close4:hover
.close:focus,.close2:focus,.close3:focus,.close4:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



/***BUTTON TO RETRUN TO TOP OF REFLECTIONS PAGES***/
#topbtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:#4eb1ba;
  color:#000;
  font-weight: 600;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 5px 5px 5px #000;
}

#topbtn:hover {
  background-color:#000;
  color:#4eb1ba;
}
/*****SHORTCUT & HEADER TO JOURNALS ON REFLECTIVE PAGES*****/
.header{
  text-align: center;
  color: #fff;
  font-size: 3em;
  padding: 0;
  margin: 0;;
}
.shortcut{
  text-align: center;
}
.shortcut p{
  color:#fff;
}
.shortcut a {
  text-decoration: none;
  color:#fff;
  background-color: #4eb1ba;
  padding: .5em;
  margin: .5em;
  border-radius: 1em;
  display: inline-block;
}
.hover {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
}
.hover:hover, .hover:focus, .hover:active {
  animation-name: hover-float, hover;
  animation-duration: .3s, 1.5s;
  animation-delay: 0s, .2s;
  animation-timing-function: ease-out, ease-in-out;
}


/*THE ACTUAL TIMELINE(VERTICAL)*/
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* THE ACTUAL TIMELINE (VERTICAL)*/
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/*CONTAINER AROUND CONTENT*/
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* THE CIRCLES ON THE TIMELINE*/
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #4eb1ba;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
/*PLACE CONTIANER TO LEFT*/
.left {
  left: 0;
}
/*PLACE CONTAINER TO RIGHT*/
.right {
  left: 50%;
}
/*ADD ARROWS TO LEFT CONTAINER*/
.left::before {
  content: "";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/*ADD ARROWS TO RIGHT CONTIANER*/
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/*FIX CIRCLE TO CONTIANER ON RIGHT*/
.right::after {
  left: -16px;
}
/*ACTUAL CONTENT*/
.reflective_content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
.reflective_content h1{
  font-size: 30px;
  margin:0;
  padding: 0;
}
.reflective_content h2{
  font-size: 15px;
  margin: 0;
  padding: 0;
}









/*****CONTACT SECTION******/
.contact_section{
  background: #222930;
  padding: 50px;
  text-align: center;
  margin:12px;
}
.inner_width{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
}
.contact_section h1{
  font-size: 30px;
  color: #fff;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
}
#subject, #email, #message{ /*INPUT FIELDS*/
  background: none;
  border:none;
  border-bottom: 1px solid #4eb1ba;
  color:#fff;
  padding: 10px 6px;
  font-size: 14px;
  margin-bottom: 40px;
}
#subject{
  float:left;
  width: 45%;
}
#email{
  float: right;
  width:45%
}
#message{
  font-family: inherit;
  min-width: 100%;
  max-width: 100%;
}
.contact_section button{
  background: none;
  color: #fff;
  border:1px solid #4eb1ba;
  padding: 12px 40px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 14px;
  transition:0.4s linear;
  letter-spacing: 1px;
  text-align: center;
}
.contact_section button a {
  padding:7px;
}
.contact_section button:hover{
  background: #4eb1ba;
  color:#000;
  font-weight: 700;
  letter-spacing: 1px;
}








/*FOOTER*/
footer{
  background-color: #4eb1ba;
  text-align: center;
  padding-top: 10px;
  margin:0;
  clear:both;
}
footer a {
  padding: 5px;
  font-size: 19px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  box-sizing: content-box;
}
footer .fa-linkedin{
  background: none;
  color: #222930;
}
footer .fa-twitter{
  background: none;
  color: #222930;
}
footer .fa-paper-plane{
  background: none;
  color:#222930;
}
footer h2{
  font-size: 10px;
  padding: 10px;
  margin:0;
}





      /*******KEYFRAMES*********/
/***INDEX PROFILE CARD FLOAT***/
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}
/***PROFILE SKILL LOADING***/
@keyframes loading{
  0%{
    width: 0%;
  }
}
/***PROFILE HOBBIES BACKGROUND SLIDESHOW***/
@keyframes background_gradient{
  0%{background-position:0% 50%;}
  50%{background-position:100% 50%;}
  100%{background-position:0% 50%; }
}
/***PROFILE ACHIEVEMENTS BOBBING ON HOVER***/
@keyframes bob-on-hover {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes bob-on-hover-float {
  100% {
    transform: translateY(-10px);
  }
}
/***MODAL OPENING FOR ACHIEVEMENTS PROFILE**/
@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/****REFLECTIVE SHORTCUT***/
@keyframes hover {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(-10px);
  }
}




                /*****MEDIA QUERIES*****/
/*****RESPONSIVE MENU*****/
@media all and (max-width: 760px) {
  nav ul{
    padding-bottom: 1em;
    float: right;
    margin: 0;
  }
  nav .logo{
    padding-left: 1.87em;
    width: 100%;
  }
  .show + a, ul{
    display: none;
  }
  nav ul li, nav ul ul li{
    display: block;
  }
  nav ul li a:hover{
    box-shadow: none;
  }
  .show{
    display: block;
    color:#fff;
    font-size: 18px;
    padding: 0 1.87em;
    cursor: pointer;
  }
  .show:hover{
    color: #4eb1ba;
  }
  .icon{
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 2.5em;
    line-height: 55px;
    cursor: pointer;
    font-size: 25px;
  }

  nav ul ul{
    top: 2.5em;
    border-top: 0;
    float: none;
    position: absolute;
    display: none;
    opacity: 1;
    border-top: 3px solid cyan;
    visibility: visible;
  }
  nav ul ul ul a{
    padding-left: 5em;
  }
  nav ul ul ul li{
    position: relative;
  }
  [id^=btn]:checked + ul{
    display: block;
  }
  nav ul ul li{
    border-bottom: 0px;
  }
  span.cancel:before{
    content: '';
  }
}


/***PROFILE CARD***/
@media screen and (max-width:760px){
  .box_container .box {
    width:40%;
  }
}
               
/***CONTACT SECTION***/
@media screen and (max-width:760px){
  #email, #subject{
    width: 100%;
  }
}









